@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
    font-family: 'Droid Serif';
}
h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}
.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}
.remark-slide-content p {
    margin: 0;
    max-height: 85%; 
}
p img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    margin: auto;
    display: block;
}
.remark-slide {
    display: block;
    height: 100%;
}
.remark-slide > .middle {
    justify-content: center;
}
.remark-slide-content {
    display: flex;
    flex-direction: column;
    height: 95%;
    overflow: hidden;
    justify-content: space-between;
    font-size: 30px;
}
.remark-slide-content > :nth-last-child(2) {
    padding-bottom: 1em;
}
.remark-slide-content > :first-child {
    padding-bottom: 0em;
}
